@import 'config';

footer{
	text-align: center;
	background-color: $secondary-color;
	font-family: $spartan;
	.line{
		display: inline-block;
		border-bottom: 1px solid whitesmoke;
		margin: 1rem auto;
		width: 75%;
  	}
	.info{
		.social{
			text-align: center;
			.social-links{
				text-decoration: none;
				color: inherit;
				i{
					margin: 0px 0.3rem;
				}
			}
		}
	}

	.tm{
		font-family: $cairo;
		padding: 1rem;
		font-size: 0.85rem;
	}
}